body,div,dl,dt,dd,ul,ol,li {
    padding: 0;
    margin: 0;
    border: none;
}
ul{
    list-style: none;
}
/*fieldset,img{*/
/*border:0;*/
/*}*/
a{
    text-decoration: none;
    color: #757575;
}
/*img, iframe {*/
/*border: none;*/
/*text-decoration:none;*/
/*}*/